#applications.view
  %div
    %h3
      %i.icon-list
      = " My applications"
    .top_actions
      %button.help{ :value => "#applications_help" }
        %i.icon-question-sign
  %table#dt_applications.dt
    %thead
      %tr
        %th ID
        %th Event ID
        %th Event title
        %th Applicant ID
        %th Applicant username
        %th Application data
        %th State
        %th Application time