#event_applications.view
  %div
    %h3#event_applications_title Applications for this event
    .top_actions
      %button.show{ :value => "#event_info" }
        %i.icon-arrow.left
        = " Back to event"
      %button.help{ :value => "#event_applications_help" }
        %i.icon-question-sign
  %table#dt_event_applications.dt
    %thead
      %tr
        %th ID
        %th Username
        %th Name
        %th Birth date
        %th Birth place
        %th Gender
        %th Email
        %th Nationality
        %th Passport
        %th Address
        %th Country
        %th Telephone
        %th Organization
        %th About
        %th About private
        %th Application data
        %th Application Time
        %th Event ID
        %th State
        %th Mark
        %th Rating
        %th Evaluation ID
        %th Archived