#events.view
  %div
    %h3
      %i.icon-picture
      = " Events"
    .top_actions
      %button#new_event.admin
        %i.icon-magic
        = " New event"
      %button.help{ :value => "#events_help" }
        %i.icon-question-sign
  %table#dt_events.dt
    %thead
      %tr
        %th ID
        %th Title
        %th Admin ID
        %th Admin username
        %th Leaders
        %th Organizer
        %th Organizer web
        %th Organizer telephone
        %th Organizer email
        %th Venue
        %th Town
        %th Country
        %th Start date
        %th End date
        %th Application deadline
        %th Number of participants
        %th Number of leaders
        %th Description
        %th App description
        %th State