#event_application_info.view.narrow
  %div
    %h3
      %i.icon-file
      = " Application information"
    .top_actions
      %button.show{ :value => "#event_applications" }
        %i.icon-arrow-left
        = " Back to applications"
      %button.help{ :value => "#event_application_info_help" }
        %i.icon-question-sign
  %table{ :style => "width:100%; clear: both;" }
    %tr
      %td
        %form#event_application_edit
          %table.table_info
        %form#event_application_archive
          %table.table_info
        %form#event_application_rate
          %table.table_info
  %table#event_application.table_info