#users.view
  %div
    %h3
      %i.icon-group
      = " User list"
    .top_actions
      %button#new_user.admin
        %i.icon-magic
        = " New user"
      %button#delete_user.admin
        %i.icon-remove
        = " Delete selected"
  %table#dt_users.dt
    %thead
      %tr
        %th ID
        %th Username
        %th Name
        %th Rank
        %th Birth date
        %th Birth place
        %th Gender
        %th Email
        %th Nationality
        %th Passport
        %th Address
        %th Country
        %th Telephone
        %th Organization
        %th About
        %th About private
        %th Last login
        %th Registration date
        %th Enabled