!!! 5

%html
  %head
    %title Yeapsy
    %meta{ :charset => "UTF-8" }
    %meta{ :content => "Event management platform", :name => "description" }
    %link{ :rel => "icon", :href => "favicon.ico" }
    - stylesheets = "css/yeapsy.css,
                     css/rating.css,
                     css/layout-default-latest.css,
                     css/yeapsy-themeroller/jquery-ui-1.10.0.custom.min.css,
                     css/jquery.dataTables_themeroller.css,
                     css/TableTools_JUI.css,
                     css/font-awesome.min.css"
    - stylesheets.split(', ').each do |ss|
      %link{ :rel =>"stylesheet", :href => ss}
    - base_scripts = "js/vendor/jquery-1.9.0.min.js,
                      js/vendor/jquery-ui-1.10.0.custom.min.js,
                      js/vendor/jquery-layout-1.3.0.min.js,
                      js/vendor/jquery.dataTables.min.js,
                      js/vendor/TableTools.min.js,
                      js/vendor/ZeroClipboard.js,
                      js/vendor/2.5.3-crypto-md5.js,
                      js/vendor/countries.js"
    - base_scripts.split(', ').each do |script|
      %script{ :type => "text/javascript", :src => script }

    - if settings.environment == :development
      - scripts = "js/YeapsyVars.js,
                   js/YeapsyLayout.js,
                   js/YeapsyAuth.js,
                   js/Yeapsy.js,
                   js/YeapsyDashboard.js,
                   js/YeapsyUser.js,
                   js/YeapsyEvent.js,
                   js/YeapsyApplication.js,
                   js/YeapsyEventApplication.js,
                   js/YeapsyEvaluation.js,
                   js/YeapsyFeedback.js"
      - scripts.split(', ').each do |script|
        %script{ :type => "text/javascript", :src => script }
    - else
      %script{ :type => "text/javascript", :src => "js/Yeapsy.min.js" }

  %body
    = yield
