!!! 5
%html
  %head
    %title YeapsY
    %meta{ :charset => "UTF-8" }
    %meta{ :content => "Event management platform", :name => "description" }
    %link{ :rel => "icon", :href => "/favicon.ico" }
    %link{ :rel => "stylesheet", :href => "/css/yeapsy.css" }

  %body
    #center
      = yield